[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "likingInitiative"]
	path = likingInitiative
	url = https://github.com/liking-initiative/likinginitiative-r
